.App {
  text-align: center;
}

.primary-btn{
  border: 2px solid #F65A3A;
  padding: 15px 30px;
  color: #ececec;
 
  background-color: #F65A3A;
  border-radius: 30px;
  
}

.primary-btn:hover{
  
  background-color: rgba(0,0,0,0.1);
  color: white;
}

.secondary-btn{
  border: 2px solid white;
  padding: 15px 30px;
  color: #ececec;
  border-radius: 30px;
}

.secondary-btn:hover{
  
  background-color: white;
  color: black;
}