.App {
  text-align: center;
}

.primary-btn{
  border: 2px solid #FF0176;
  padding: 15px 30px;
  color: #ececec;
 
  background-color: #FF0176;
  border-radius: 30px;
  
}

.primary-btn:hover{
  
  background-color: rgba(0,0,0,0.1);
  color: white;
}

.secondary-btn{
  border: 2px solid white;
  padding: 15px 30px;
  color: #ececec;
  border-radius: 30px;
}

.secondary-btn:hover{
  
  background-color: white;
  color: black;
}

.service-btn{
  border: 3px solid #FF0176;
  background-color: #FF0075;
  padding: 6px 30px ;
  border-radius: 20px;

}

.service-btn:hover{
    color: white;
    background-color: rgba(0,0,0,0.1);
}

.bg-details{
  color: white;
    background-color: rgba(0,0,0,0.5);
}

