.App {
  text-align: center;
}

.primary-btn{
  border: 2px solid darkblue;
  padding: 15px 30px;
  color: #ececec;
 
  background-color: darkblue;
  border-radius: 30px;
  
}

.primary-btn:hover{
  
  background-color: rgba(0,0,0,0.1);
  color: white;
}

.secondary-btn{
  border: 2px solid white;
  padding: 15px 30px;
  color: #ececec;
  border-radius: 30px;
}

.secondary-btn:hover{
  
  background-color: white;
  color: black;
}

.service-btn{
  border: 3px solid #1D4ED8;
  background-color: #1D4ED8;
  padding: 6px 30px ;
  border-radius: 20px;
  color: white;
}

.login-btn{
  border: none;
  background-color: #1D4ED8;
  padding: 6px 30px;
  border-radius: 20px;
  color: white;
}
.register-btn{
  border: 1px solid #1D4ED8;
  
  padding: 6px 30px;
 
  
}

.service-btn:hover{
    color: white;
    background-color: rgba(0,0,0,0.1);
}

.bg-details{
  color: white;
    background-color: rgba(0,0,0,0.5);
}

